{% extends 'bingo/base.html' %} 
{% load static %}
{% block content %}
<div class="create_room">
 <div class="col-lg-6 col-sm-8 ">
     <h5 class="text-white">BINGO GAME</h5>
  <div class="my-3">
    <input id="username" type="text" class="form-control" autocomplete="off" placeholder="Your Name" />

    <div>
        <button id="new_room" class="my-2 btn btn-success">Create Room</button>
        <button id="join_room" class="my-2 btn btn-primary">Join Room</button>
    </div>
   
    <input id="room_name" type="text" class="d-none my-1 form-control" autocomplete="off" placeholder="Room name" />
    <button id="create_room" class="d-none my-2 btn btn-success">Create Room</button>
    <button id="join_room_btn" class="d-none my-2 btn btn-success">Join Room</button>
  </div>
  <div class="my-3">
    <h5>Online Rooms : </h5>
    <div id="onlinerooms">
      
    </div>
  </div>
 </div>
</div>
{% endblock content %}
{% block script %}
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<script src="{% static 'js/create_room.js' %}"></script>
{% endblock script %}