{% extends 'bingo/base.html' %}
{% load static %}
    {% block content %}
    
    <div style="height:100vh;
    display:grid;
    place-items:center;">
        <div>
            <p style="font-size:80px;font-weight:bold;color:blueviolet;" class="text-center">404</p>
            <h3>Page Not Found Sorry </h3>
            <div class="d-flex justify-content-center w-100">
                <a href="{% url 'create_room' %}" class="my-3 btn btn-danger btn-sm">Go Back</a>
            </div>
        </div>
    </div>
</body>
</html>
    
    {% endblock content %}
